@font-face {
  font-family: "iconfont"; /* Project id 5000903 */
  src: url('iconfont.woff2?t=1755424531911') format('woff2'),
       url('iconfont.woff?t=1755424531911') format('woff'),
       url('iconfont.ttf?t=1755424531911') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-boke:before {
  content: "\e6ae";
}

.icon-xieboke:before {
  content: "\e627";
}

.icon-houtai:before {
  content: "\e628";
}

.icon-icontouxiang:before {
  content: "\e678";
}

.icon-jiantou:before {
  content: "\e623";
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-zuojiantou:before {
  content: "\e625";
}

.icon-jiantou-copy:before {
  content: "\e632";
}

.icon-shangjiantou:before {
  content: "\e79d";
}

.icon-xiajiantou:before {
  content: "\e79e";
}

.icon-touxiang-shi:before {
  content: "\e65f";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb09";
}

.icon-echarts:before {
  content: "\e6c8";
}

.icon-jiantou1:before {
  content: "\e84f";
}

.icon-youjiantou-copy:before {
  content: "\e654";
}

.icon-riqi:before {
  content: "\e612";
}

.icon-youjiantou1:before {
  content: "\e60a";
}

.icon-sousuo:before {
  content: "\e63b";
}

.icon-sousuo1:before {
  content: "\e626";
}

.icon-es6:before {
  content: "\e7ac";
}

